---
title: Home
layout: default
color: 0792ce
permalink: /index2
---
<div class="blog-grid-container">
    <label id="greetings" style="margin-bottom:0px;"></label>
    <div class="author_featured_box">
        <span class="index-heading" style="color: #2e2f34;">Authors</span>
        <div class="authors_featured owl-carousel owl-theme">
            {% for author in site.authors limit:4 %}
            <div class="author_single" style="background-image: url('{{ site.baseurl }}{{ author.avatar }}');"></div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Category
================================================== -->
<div class="category-section">
    {% for category in site.category %}
    {% include category.html %}
    {% endfor %}
</div>

<!-- Post Small
================================================== -->
<div class="blog-grid-container">
    {% for post in site.posts limit:5 %}
    {% include post-small.html %}
    {% endfor %}
</div>

<!-- Recent Posts
================================================== -->
<span class="index-heading">🔥 Recent Posts</span>
<span class="index-subheading">Collection of mixed contents</span>

<div class="blog-grid-container" style="grid-template-columns: 1fr 1fr;grid-gap: 10px;">
    {% for post in site.posts limit:4 %}
        {% include postbox-index.html %}
    {% endfor %}
</div>

